.subMenu {
    color: #FFFFFF;
}


.content_style {
    background: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;

}

.tag_font {
    color: #FFFFFF;
    font-family: 'Open Sans';
}

.icon_style {
    color: #FFFFFF;
}

.font_style{
    padding-left: 25px;
    padding-right: 31px;
    padding-bottom: 15px;
    color: #517284;
    letter-spacing: .2px;
    text-transform: uppercase;
    font-weight: 600;

}

.header_style {
    background: #FFFFFF;
    height: 70px;
    width: 100%;
    margin: 0;
}

.p_style1 {
    display: flex; 
    align-items: flex-end;       
    justify-content: flex-start;
}

.lucency {
    background: #FFFFFF;
    color: #FFFFFF;
}

.table {
    border:1px solid #D9D9D9;
    display: flex;
    align-items: flex-start;       
    justify-content: flex-start;
    flex-direction: column;
    overflow-x: auto; overflow-y: auto;
}

.td {
    border-style:none;
}

.image_style {
    height: 20px;
    width: 20px;
  }

.input_style {
    color: #0011FF;
}

.xiaoi_style {
    color: #FF8100;
}

.name_style {
    color: #8D9921;
    font-weight: bold;
}